
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


#head {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#head img {
    /* flex-shrink: 0; */
    /* min-width: 100%; */
    /* min-height: 100% */
}
